roms/
build*/
.cache/
compile_commands.json
rom.state
src/core/old/
*.gb
*.gbc
*.gba
*.bin
*.state
*.sav
*.raw
*.zip
misc/
rewind*
.vs/
out/
imgui.ini
.vscode
CMakeUserPresets.json
rtc.md
n64-emu

# Local Netlify folder
.netlify

# test stuff that i want to ignore for now
tonc/

# want to include the roms themselves and the ouput.png
!src/tests/roms_and_output/**/*.png
!src/tests/roms_and_output/**/*.zip
!src/tests/roms_and_output/mts/misc
sd_mount
*.state*
